* {
    font-family: Rubik, serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.dashboard {
    background: #191919;
    color: white;
    padding: 16px 32px;
    width: 300px;
}

h1 {
    font-size: 1.5em;
    white-space: nowrap;
    padding-bottom: 16px;
    display: flex;
    align-items: center;
}

h1 > svg {
    width: 1.2em;
    height: 1.2em;
    cursor: pointer;
    fill: #ef3e3a;
    margin-right: 8px;
    transition: 0.3s linear;
}

h1 > svg:hover {
    fill: #ea0f0a;
}

.button {
    padding: 8px;
    font-size: 1.2em;
    width: 100%;
    border-radius: 4px;
    transition: 0.2s linear;
    cursor: pointer;
    margin-bottom: 8px;
}

.primary {
    background: #ef3e3a;
    border: 0;
    color: white;
}

.secondary {
    background: transparent;
    border: 2px solid #ef3e3a;
    color: white;
}

.button:hover {
    transform: translateY(-1px);
}

.primary:hover {
    background: #ea0f0a;
}

.secondary:hover {
    background: #ef3e3a;
}

.text-muted {
    font-size: 1.2em;
    margin-bottom: 8px;
    color: #9a8f84;
}

.code-input {
    border-radius: 4px;
    height: 30px;
    padding: 16px 16px;
    width: 100%;
    letter-spacing: 2px;
    text-align: center;
    background: transparent;
    border: 2px solid #ef3e3a;
    color: white;
}